@font-face {
    font-family: 'NunitoSans-Regular';
    src: url(../fonts/NunitoSans-Regular.ttf);
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url(../fonts/Poppins-Regular.ttf);
}


body {
    background-image: url(../svg/page-background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f8f6ff;
    /* height: 100vh; */
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}


.sidebar::-webkit-scrollbar {
    width: 0px;
}

.sidebar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #8280FF;
    border-radius: 25px;
}


.sidebar {
    width: 280px;
    height: 100vh;
    /* Make sidebar full height */
    background-image: url(../svg/background\ animation.svg);
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    top: 0;
    z-index: 1000;

    transition: transform 0.3s ease-in-out;
}

.sidebar .active {
    font-family: 'NunitoSans-Regular';
    font-size: 16px;
    font-weight: 700;
    line-height: 21.82px;
    text-align: left;
    text-decoration-skip-ink: none;
    color: white !important;
}


.sidebar .nav-link {
    color: rgba(151, 151, 151, 1) !important;
    opacity: 0.5;
}

.sidebar .nav-link.active {
    color: white !important;
    opacity: 1;
}



.sidebar.collapsed {
    transform: translateX(-100%);
}

.logo-sidebar {
    width: 150px;
    height: 29px;
    text-align: center;
    margin-left: 20px;
    margin-top: 20px;
}

/* .bottom-links {
    position: absolute;

    bottom: 10px;
    width: 100%;
} */

/* Toggler styling */
.sidebar-toggler {
    position: fixed;
    left: 10px;
    top: 14px;
    z-index: 1100;
    color: red !important;
    display: none;
    /* Hidden by default */
}

@media (max-width: 1102px) {
    .sidebar-toggler {
        display: inline-block;
        /* Show toggler on small screens */
    }
}

@media (max-width: 1102px) {
    .sidebar {
        transform: translateX(-100%);
        /* Hide sidebar by default */
    }

    .sidebar.show {
        transform: translateX(0);
        /* Show sidebar when toggled */
    }
}


.main-content {
    margin-left: 290px;
    margin-right: 10px;
    transition: margin-left 0.3s ease-in-out;
}

@media (max-width: 1102px) {
    .main-content {
        margin-right: 0px;

        margin-left: 0;
        /* No margin on smaller screens */
    }
}

.link-text {

    font-family: 'NunitoSans-Regular';
    font-size: 16px;
    font-weight: 500;
    line-height: 21.82px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white !important;
}

.active .link-text {
    font-family: 'NunitoSans-Regular';
    font-size: 16px;
    font-weight: 700;
    line-height: 21.82px;
    text-align: left;
    text-decoration-skip-ink: none;
    color: white !important;
}

.navbar-search-input-container {
    position: relative;
    max-width: 291px !important;
    width: 100% !important;
}

.navbar-search-input {
    background-color: white !important;
    width: 100% !important;
    height: 48px;
    border-radius: 7px !important;
    padding-left: 2.5rem;
    padding-right: 1rem;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 10px 60px 0px #E2ECF9;
}

.navbar-search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: grey;
    font-size: 1rem;
    pointer-events: none;
}

.collapse-content {
    background-color: #FFF7E8;
    border-radius: 16px;
}

.nav-link.collapsed .toggle-icon {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

.nav-link:not(.collapsed) .toggle-icon {
    transform: rotate(180deg);
}

.nav-link:hover {
    background-color: rgba(231, 238, 246, 0.2);
}

.navbar-profile-image {
    width: 52px;
    height: 52px;
    border-radius: 50%;

}

.theme-switch {
    --toggle-size: 18px;
    /* Smaller toggle size */
    --container-width: 3.25em;
    /* Reduced width */
    --container-height: 1.5em;
    /* Reduced height */
    --container-radius: 3.75em;
    --container-light-bg: #3D7EAE;
    --container-night-bg: #1D1F2C;
    --circle-container-diameter: 2em;
    /* Reduced diameter */
    --sun-moon-diameter: 1.25em;
    /* Reduced sun/moon size */
    --sun-bg: #ECCA2F;
    --moon-bg: #C4C9D1;
    --spot-color: #959DB1;
    --circle-container-offset: calc((var(--circle-container-diameter) - var(--container-height)) / 2 * -1);
    --stars-color: #fff;
    --clouds-color: #F3FDFF;
    --back-clouds-color: #AACADF;
    --transition: .5s cubic-bezier(0, -0.02, 0.4, 1.25);
    --circle-transition: .3s cubic-bezier(0, -0.02, 0.35, 1.17);
    --spot-size: 0.45em;
    /* Reduced spot size */
}

.theme-switch,
.theme-switch *,
.theme-switch *::before,
.theme-switch *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: var(--toggle-size);
}

.theme-switch__container {
    width: var(--container-width);
    height: var(--container-height);
    background-color: var(--container-light-bg);
    border-radius: var(--container-radius);
    overflow: hidden;
    cursor: pointer;
    -webkit-box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
    box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
    -webkit-transition: var(--transition);
    transition: var(--transition);
    position: relative;
}

.theme-switch__container::before {
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0;
    -webkit-box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
    border-radius: var(--container-radius)
}

.theme-switch__checkbox {
    display: none;
}

.theme-switch__circle-container {
    width: var(--circle-container-diameter);
    height: var(--circle-container-diameter);
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    left: var(--circle-container-offset);
    top: var(--circle-container-offset);
    border-radius: var(--container-radius);
    -webkit-box-shadow: inset 0 0 0 2em rgba(255, 255, 255, 0.1), 0 0 0 0.375em rgba(255, 255, 255, 0.1), 0 0 0 0.75em rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 0 2em rgba(255, 255, 255, 0.1), 0 0 0 0.375em rgba(255, 255, 255, 0.1), 0 0 0 0.75em rgba(255, 255, 255, 0.1);
    display: flex;
    -webkit-transition: var(--circle-transition);
    transition: var(--circle-transition);
    pointer-events: none;
}

.theme-switch__sun-moon-container {
    pointer-events: auto;
    position: relative;
    z-index: 2;
    width: var(--sun-moon-diameter);
    height: var(--sun-moon-diameter);
    margin: auto;
    border-radius: var(--container-radius);
    background-color: var(--sun-bg);
    -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
    box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
    overflow: hidden;
    -webkit-transition: var(--transition);
    transition: var(--transition);
}

.theme-switch__moon {
    transform: translateX(100%);
    width: 100%;
    height: 100%;
    background-color: var(--moon-bg);
    border-radius: inherit;
    -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
    box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    position: relative;
}

.theme-switch__spot {
    position: absolute;
    border-radius: var(--container-radius);
    background-color: var(--spot-color);
    width: var(--spot-size);
    height: var(--spot-size);
    box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
    top: 0.4em;
    left: 0.18em;
}

.theme-switch__spot:nth-of-type(2) {
    width: calc(var(--spot-size) * 0.5);
    height: calc(var(--spot-size) * 0.5);
    top: 0.5em;
    left: 0.75em;
}

.theme-switch__spot:nth-last-of-type(3) {
    width: calc(var(--spot-size) * 0.333);
    height: calc(var(--spot-size) * 0.333);
    top: 0.18em;
    left: 0.45em;
}

.theme-switch__clouds {
    width: 0.625em;
    height: 0.625em;
    background-color: var(--clouds-color);
    border-radius: var(--container-radius);
    position: absolute;
    bottom: -0.3125em;
    left: 0.18em;
    box-shadow: 0.703em 0.234em var(--clouds-color), -0.234em -0.234em var(--back-clouds-color), 1.078em 0.281em var(--clouds-color), 0.375em -0.09375em var(--back-clouds-color);
    -webkit-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
    transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
}

.theme-switch__stars-container {
    position: absolute;
    color: var(--stars-color);
    top: -100%;
    left: 0.18em;
    width: 1.5em;
    height: auto;
    -webkit-transition: var(--transition);
    transition: var(--transition);
}

/* Actions */
.theme-switch__checkbox:checked+.theme-switch__container {
    background-color: var(--container-night-bg);
}

.theme-switch__checkbox:checked+.theme-switch__container .theme-switch__circle-container {
    left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter));
}

.theme-switch__checkbox:checked+.theme-switch__container .theme-switch__circle-container:hover {
    left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter) - 0.08em);
}

.theme-switch__circle-container:hover {
    left: calc(var(--circle-container-offset) + 0.08em);
}

.theme-switch__checkbox:checked+.theme-switch__container .theme-switch__moon {
    transform: translate(0);
}

.theme-switch__checkbox:checked+.theme-switch__container .theme-switch__clouds {
    bottom: -2.5em;
}

.theme-switch__checkbox:checked+.theme-switch__container .theme-switch__stars-container {
    top: 50%;
    transform: translateY(-50%);
}

.navbar-bell-icon {
    font-size: 22px;
}

.dashboard-main-select-card-heading {
    font-family: 'Poppins-Regular';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #7D8592;
    background-color: white;
}

.dashboard-main-select-card {
    background-color: white !important;
    padding: 11px 18px;
    border-radius: 7px;
    width: 155px !important;
}

@media (min-width: 992px) {
    .dashboard-second-row-col {
        width: 24%;
    }
}

@media (max-width: 535px) {
    .dashboard-main-select-card-heading {
        font-size: 12px;
    }

    .dashboard-main-select-card {
        width: 112px !important;
        padding: 11px 5px;
    }
}

.dashboard-second-row-col {
    border: 1px solid rgba(242, 239, 255, 1);
    box-shadow: 0px 0px 8px rgba(242, 239, 255, 1);
    background-color: white !important;
    padding: 20px 20px;
    max-width: 290px;
    margin: auto;
    height: 151px;
    border-radius: 24px;


}

@media (max-width: 992px) {
    .dashboard-second-row-col {

        max-width: 48%;



    }
}

@media (max-width: 568px) {
    .dashboard-second-row-col {

        max-width: 100%;



    }
}

.dashboard-second-row-col-first {
    background: linear-gradient(270deg, #FFFFFF 0%, #BFD1FF 100%);
    border: 1px solid white !important;
}



.dashboard-first-icon-heading {
    font-family: 'Poppins-Regular';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.01em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.dashboard-first-icon-heading-number {
    font-family: 'Poppins-Regular';
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #333333 !important;

}

.productive-hours-heading {
    font-family: 'Poppins-Regular';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.progress-dashboard {
    margin: 5px auto;
    padding: 0;
    width: 100%;
    height: 30px;
    overflow: hidden;
    background: #e5e5e5;
    border-radius: 6px;
    display: flex;
    align-items: center;
    position: relative;
    /* To allow absolute positioning of the text */
}

.bar-dashboard {
    height: 85%;
    margin-left: 2px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background: #F9B23E;
    position: absolute;
    /* Position relative to .progress-dashboard */
}

.bar-dashboard-second {
    height: 85%;
    margin-left: 2px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background: #4ADD00;
    position: absolute;
    /* Position relative to .progress-dashboard */
}

.percent-dashboard {
    position: absolute;
    /* Position text relative to .progress-dashboard */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: tahoma, arial, helvetica;
    font-size: 12px;
    color: white;
    margin: 0;
}

.percent-dashboard span {
    font-family: 'Poppins-Regular';
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000000 !important;
}

.productive-hours-number-heading {
    font-family: 'Poppins-Regular';
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.01em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000000 !important;
}

.productive-hours-number-heading-time {
    font-family: 'Poppins-Regular';
    font-size: 22px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #0A994B;
}

.productive-hours-number-heading-time-second {
    font-family: 'Poppins-Regular';
    font-size: 22px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FF4C4C;
}

.dashboard-sub-col {
    width: 30.33333%;
}

.total-time-heading {
    font-family: 'Poppins-Regular';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.total-time-number {
    font-family: 'Poppins-Regular';
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

@media (min-width:992px) {
    .dashboard-third-row-col {
        padding: 10px;
        border-radius: 24px;
        width: 49.5%;
    }
}

.dashboard-third-row-col {
    padding: 10px 20px;
    border-radius: 24px;
    border: 1px solid rgba(242, 239, 255, 1);
    box-shadow: 0px 0px 8px rgba(242, 239, 255, 1);
}

.dashboard-third-row-col-first {
    background-color: white;
}

.dashboard-third-row-col-second {
    background: linear-gradient(to left, #655B96, #3A297A);

}

.dashboard-third-row-first-row-heading {
    font-family: 'Poppins-Regular';
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.01em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000000;
}

.dashboard-distraction-alert-hr {
    height: 1px;
    background-color: #716f6f;
    border: none;
}

.dashboard-distraction-alert-hr2 {
    height: 1px;
    background-color: #e0d6d6;
    border: none;
}

.dashboard-alert-men {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.dashboard-alert-men2 {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: relative;
    left: -8px;
}

.dashboard-alert-men3 {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: relative;
    left: -16px;
}

.dashboard-alert-img {
    position: relative;
    left: 26px;
}

.dashboard-alert-number {
    position: relative;
    left: -24px;
    background-color: rgba(250, 251, 255, 1);
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 11px;
    font-family: 'Poppins-Regular';

    color: rgba(14, 0, 66, 1);

}

.dashboard-alret-message {
    font-family: 'Poppins-Regular';
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    font-size: 12px;

}

.dashboard-alret-number {
    font-family: 'Poppins-Regular';
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;

}

.dashboard-fourth-row-first-row-heading {
    font-family: 'Poppins-Regular';
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.01em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255, 1);
}

.dashboard-blance-issue-alert-hr2 {
    border-top: 1.7px solid rgba(238, 238, 238, 1);
    /* Bright white with slight opacity */
    width: 100%
}

.dashboard-blance-bordermiddle {
    border-right: 1.7px solid rgba(238, 238, 238, 0.5);
    /* Bright white with slight opacity */
    /* height: 100% */
    margin-top: 21px;
    padding: 2px 15px 13px 15px;

}

@media(max-width:990px) {
    .dashboard-blance-bordermiddle {
        border-right: none;
        border-bottom: 1.7px solid rgba(238, 238, 229, 0.5);
        /* height: 100%; */
        margin-top: 21px;
        padding: 2px 15px 13px 15px;
        padding-bottom: 44px;

    }
}

.dashboard-blance-bordermiddle2 {
    /* height: 100% */
    margin-top: 21px;
    padding: 2px 15px 13px 15px;

}

.dashboard-fourth-row-second-row-fheading {
    font-family: 'Poppins-Regular';
    font-size: 12px;
    font-weight: 400;
    display: grid;
    align-items: center;
    margin: 0px;
    color: rgba(242, 239, 255, 1);

}

.dashboard-fourth-row-second-row-fmheading {
    font-family: 'Poppins-Regular';
    font-size: 14px;
    font-weight: 400;
    padding-right: 28px;
    margin: 0px;
    color: rgba(242, 239, 255, 1);

}

.dashboard-fourth-row-second-row-time {
    font-family: 'Poppins-Regular';
    font-size: 14px;
    font-weight: 600;
    display: grid;
    align-items: center;
    margin: 0px;
    color: rgba(242, 239, 255, 1);

}

.dashboard-fourth-row-second-row-image {
    width: 29px;
    height: 29px;
    border-radius: 50%;

}

.dashboard-fourth-row-col-first {

    background: linear-gradient(to top, #685c84, #504480);

    border-radius: 24px;


}

@media(min-width:990px) {
    .dashboard-fourth-row-col-first {
        margin: 0px 8px 0px 0px;
        width: 31%;

    }
}

.dashboard-fourth-row-col-first-padding {
    padding: 2px 15px 13px 15px;


}

.status-dashboard-fourth-row {
    font-family: 'Poppins-Regular';
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.dashboard-fourth-row-col-first-container {

    background-color: #797195;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 24px;

}

.dashboard-fourth-row-col-img {
    width: 63px;
    height: 63px;
}

.dashboard-fourth-row-second-row-image2 {
    width: 145px;
    height: 145px;
    border-radius: 50%;

}

.dashboard-fourth-row-col-second {
    padding: 17px 0px 10px 0px;
    border: 1px solid rgba(242, 239, 255, 1);
    box-shadow: 0px 0px 8px rgba(242, 239, 255, 1);
    border-radius: 24px;
}

.dashboard-fourth-row-col-second-part2 {
    height: 360px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Scrollbar Styling */
.dashboard-fourth-row-col-second-part2::-webkit-scrollbar {
    width: 12px;
    /* Scrollbar ki width */
}

.dashboard-fourth-row-col-second-part2::-webkit-scrollbar-track {
    background: white;
    /* Track ka color */
    border-radius: 2px;
    /* Round track */
}

.dashboard-fourth-row-col-second-part2::-webkit-scrollbar-thumb {
    background: rgba(220, 226, 255, 1);
    /* Scrollbar ka color */
    border-radius: 10px;
    /* Round scrollbar */
}

.ddashboard-fourth-row-col-second-part2::-webkit-scrollbar-thumb:hover {
    background: rgba(220, 226, 255, 1);
    /* Hover pe color change */
}


.dashboard-fourth-row-col-third {
    border: 1px solid rgba(242, 239, 255, 1);
    box-shadow: 0px 0px 8px rgba(242, 239, 255, 1);
    padding: 17px 0px 10px 0px;
    border-radius: 24px;
}

@media(min-width:990px) {
    .dashboard-fourth-row-col-second {
        width: 39%;
        margin: 0px 2px 0px 8px;
    }

    .dashboard-fourth-row-col-third {
        width: 27%;
        margin: 0px 2px 0px 8px;
    }

}

.dashboard-fourth-row-second-colm-real {
    font-family: 'Poppins-Regular';
    font-size: 16px;
    font-weight: 400;
    color: rgba(125, 133, 146, 1);
}

.dashboard-fourth-row-second-colm-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.dashboard-fourth-row-second-colm-name {
    font-weight: 500;
    font-size: 14px;
    font-family: 'Poppins-Regular';
    color: rgba(0, 0, 0, 1);
    display: grid;
    align-items: center;
}

.dashboard-fourth-row-second-colm-time {
    color: rgba(180, 187, 197, 1);
    font-weight: 500;
    font-size: 12px;
    font-family: 'Poppins-Regular';
    display: grid;
    align-items: center;
}

.dashboard-fourth-row-second-colm-pressKey {
    box-shadow: 0 2px 10px 1px rgba(233, 233, 233, 0.56);
    font-size: 14px;
    font-family: 'Poppins-Regular';
    font-weight: 400;
    border-radius: 10px;
    margin: 0px;
    display: grid;
    align-items: center;
    padding: 0px 9px;
}

#chartdiv {
    width: 100%;
    height: 360px;
    max-width: 100%;
}

/* screen shots */
.Screenshots-first-row {
    background: linear-gradient(to bottom right, #BFD1FF 0%, #F2EFFF 47%, #BFD1FF 100%);
    background-size: cover;
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 27px 16px;
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 1);

}

.Screenshots-first-row-first-heading {
    font-size: 16px;
    font-family: 'Poppins-Regular';
    font-weight: 600;

}

.Screenshots-first-row-first-paragraph {
    font-size: 13px;
    font-family: 'Poppins-Regular';
    font-weight: 400;
    color: rgba(125, 133, 146, 1);
}

.image-container-screeshot {
    position: relative;
    display: inline-block;
    max-width: 32%;
    /* Limits the container width */
    margin-bottom: 19px;
}

@media(max-width:990px) {
    .image-container-screeshot {
        position: relative;
        display: inline-block;
        max-width: 49%;
        /* Limits the container width */
        margin-bottom: 19px;
    }

}

@media(max-width:568px) {
    .Screenshots-first-row-first-heading {
        font-size: 11px;
        font-family: 'Poppins-Regular';
        font-weight: 600;
    }

    .image-container-screeshot {
        position: relative;
        display: inline-block;
        max-width: 100%;
        /* Limits the container width */
        margin-bottom: 19px;
    }

}

.image-container-screeshot .screenshot-img {
    width: 100%;
    max-height: 229px;
    height: 100%;
    border-radius: 24px;
}

.image-container-screeshot .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 33%;
    /* Covers the bottom third of the image */
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.image-container-screeshot:hover .overlay {
    opacity: 1;
}

.image-container-screeshot .overlay-content {
    display: flex;
    align-items: end;
    color: white;
    padding: 10px;
}

.image-container-screeshot .profile-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    /* margin-right: 15px; */
}

.image-container-screeshot .text-content {
    display: flex;
    flex-direction: column;
}

.image-container-screeshot .name {
    font-size: 12px;
    font-family: 'Poppins-Regular';

    font-weight: 400;
}

.image-container-screeshot .time {
    font-size: 12px;
    font-family: 'Poppins-Regular';

    font-weight: 400;
}

.screenshots-pagenation {
    display: flex;
    align-items: center;
    gap: 10px;
}

.screenshots-pagenation-page {
    display: inline-block;
    font-family: 'Poppins-Regular';
    padding: 5px 5px;
    font-size: 16px;
    border-radius: 7px;
    background-color: transparent;
    color: rgba(30, 30, 30, 1);
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.screenshots-pagenation-page:hover {
    background-color: #ececff;
    padding: 5px 12px;

    color: #000;
}

.screenshots-pagenation-page.active {
    padding: 5px 12px;

    background-color: rgba(14, 0, 66, 1);
    color: #fff;
}

.screenshots-pagenation-next {
    color: rgba(30, 30, 30, 1);
    font-family: 'Poppins-Regular';
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    padding: 10px 15px;
}

.screenshots-pagenation-next:hover {
    color: rgb(28, 28, 28);
}

/* setting */
.settings-first-row-first-heading {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Poppins-Regular';
    color: rgba(0, 0, 0, 1);
}

.settings-first-row-first-input {
    border: 1px solid rgba(175, 175, 175, 1);
    width: 100%;
    height: 40px;
    border-radius: 12px;
    display: flex;
    background-color: transparent;
    align-items: center;
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: transparent;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}

.Setting-first-row {
    background: linear-gradient(to bottom right, #BFD1FF 0%, #F2EFFF 47%, #BFD1FF 100%);
    background-size: cover;
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 50px 39px;
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 1);
}

.setting-row-second {
    width: 49.9%;
}

.settings-first-row-first-radio input[type="radio"] {
    transform: scale(1.7);
    /* Adjust scale as needed */
    margin-right: 14px;
    /* Optional: Adds space around the radio button */
    background-color: transparent;
    /* Aiming for transparency */
}

.settings-radio-label {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Poppins-Regular';
}

/* report */

.report-first-row {
    background: linear-gradient(to bottom right, #BFD1FF 0%, #F2EFFF 47%, #BFD1FF 100%);
    background-size: cover;
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 27px 0px;
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 1);

}

.report-main-select-card {
    background-color: white !important;
    padding: 11px 12px;
    border-radius: 7px;
    width: 138px !important;
}

.report-main-select-card2 {

    background-color: white !important;
    padding: 11px 13px;
    border-radius: 7px;
    width: 118px !important;
}

.report-main-select-card3 {

    width: 166px !important;
}

.report-main-card2-background {
    background-color: rgba(99, 57, 255, 1) !important;
    color: white !important;
}

.report-row3-img1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

.report-row3-name {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins-Regular';

}

.report table th {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins-Regular';
    color: rgba(145, 146, 158, 1);
    padding: 25px 5px 25px 34px;
}

.report table td {
    font-size: 15px;
    font-weight: 400;
    font-family: 'Poppins-Regular';
    color: rgba(10, 22, 41, 1);
    padding: 25px 5px 25px 34px;
}

.table {
    --bs-table-bg: transparent;
    --bs-table-border-color: transparent;
}

.table td {
    --bs-table-bg: transparent;
    --bs-table-border-color: transparent;
    border-top: 1.4px solid rgba(151, 151, 151, 0.18);
}

/* Optional custom styles for the table */
.table-responsive-md>.table {
    max-width: 100%;
    /* Ensure the table fits well within the container */
}

/* Custom CSS for table headers and cells */
/* Custom CSS for all table headers and cells */
.table th,
.table td {
    min-width: 162px;
    /* Default minimum width for all columns */
}

/* Custom CSS for the first column */
.table th:first-child,
.table td:first-child {
    min-width: 70px;
    /* Smaller minimum width for the first column */
}

@media(max-width:425px) {
    .report-main-select-card {
        padding: 11px 7px;

    }

    .report-main-select-card .dashboard-main-select-card-heading {
        font-size: 11px;
    }
}

@media(max-width:400px) {
    .report-second-row-flex {
        display: block !important;
        margin-top: 0px !important;
    }

    .report-second-row-block {
        display: flex !important;
    }

    .report-main-select-card {
        padding: 11px 7px;
        margin-bottom: 10px;
        width: 127px !important;
    }
}


.users-btn-role {
    background-color: rgba(191, 209, 255, 1) !important;
    border-radius: 7px;
    font-family: 'Poppins-Regular';
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(0, 26, 114, 1);
    padding: 10px 15px;
}

.users-btn-role-second {
    background-color: rgba(37, 0, 176, 1) !important;
    border-radius: 7px;
    font-family: 'Poppins-Regular';
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white !important;
    padding: 10px 15px;
}

.permission-table-td {
    background: linear-gradient(to bottom right, #BFD1FF 0%, #F2EFFF 47%, #BFD1FF 100%);
    padding: 10px;
    border-radius: 7px;
    font-family: 'Poppins-Regular';
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(0, 26, 114, 1);
}

@media (max-width: 1280px) {
    table {
        display: block;
        overflow-x: auto;

    }

    th,
    td {

        padding: 8px 12px;
    }

    td .btn {
        margin: 0 auto;
        display: block;
    }
}

.user-profile-image {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 2px solid white;

}

.user-profile-role {
    font-family: 'Poppins-Regular';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.user-profile-name {
    font-family: 'Poppins-Regular';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(145, 146, 158, 1) !important;
}

.user-page .modal-content {
    padding: 20px;
    border-radius: 24px;
}

.user-page .btn-close {
    padding: 10px;
    border-radius: 12px;
    background-color: rgba(250, 251, 255, 1);
}

.user-page .modal-title {
    font-family: 'Poppins-Regular';
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.modal-label {
    font-family: 'Poppins-Regular';
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.modal-label span {
    color: rgba(255, 88, 88, 1);
}

.user-page .form-control {
    background-color: transparent;
    border: 1px solid rgba(238, 238, 238, 1) !important;
    border-radius: 7px !important;
    box-shadow: 0px 1px 2px 0px rgba(184, 200, 224, 0.2);

}

.modal-save-button {
    background-color: #0E0042 !important;
    font-family: 'Poppins-Regular';
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF !important;
    padding: 12px 45px;
}